<nav class="navbar">
    <section class="logo">
        <a href="/"><img class="img-logo" src="/logo.svg" alt="Logo"></a>
    </section>
    <section class="menu-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/write-blog">Write Blog</a></li>
        </ul>
    </section>
</nav>