<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/navbar.ejs') %>

            <h3>OOPs! Page not found</h3>

            <%- include('./partials/footer.ejs') %>
    </body>

    </html>