<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/navbar.ejs') %>

            <div class="about-page">
                <section class="about-image">
                    <img src="/about-image.webp" alt="about-image">
                </section>
                <section class="about-description">
                    <h1 class="about-title">About Me</h1>
                    <p>Hi, I'm Muhammad Abdullah, a professional web and WordPress developer, and tech expert. I have
                        been working in these fields for more than 2 years. My expertise includes HTML, CSS, Bootstrap,
                        JavaScript, and most importantly WordPress. In WordPress, my specialities include Web Design
                        from scratch, Redesign, Customization, Speed Optimization, Security Maintenance and WooCommerce.
                        I can create a Portfolio, Blog, E-Commerce, Business and any type of website.</p>
                </section>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

    </html>